@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.font-heading {
  font-family: "Poppins", sans-serif;
}

.font-body {
  font-family: "Roboto", sans-serif;
}

.font-footer {
  font-family: "Space Mono", monospace;
}

.skills-height {
  min-height: 450px;
}
